<div class="row">
  <div class="col-md-12"><h4 class="text-center">Contact Page</h4></div>
  <div class="col-md-12">
    <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quae molestias eligendi consequatur, ex aliquid. Excepturi velit dolore laborum voluptates. Maiores, voluptates laborum adipisci repudiandae voluptate cum eius esse ut.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quae molestias eligendi consequatur, ex aliquid. Excepturi velit dolore laborum voluptates. Maiores, voluptates laborum adipisci repudiandae voluptate cum eius esse ut.</p>
  </div>
</div>>
