<div class="container">
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" [routerLink] = "['Home-page']">Home</a>
          <a class="nav-item nav-link" [routerLink] = "['Contact-page']">Contact</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="alert alert-success text-center">
    <h3>Checkpoint-Minimalist-route</h3>
  </div>
  <div >
    <router-outlet></router-outlet>
  </div>
</div>
